*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body{
    background-color: #535151;
    color: rgb(8, 8, 8);
}

a{
    text-decoration: none;
    color: #38d0eb ;
    transition: 0.5s;
    font-size: 20px;
    font-weight: bold;
}
a:hover{
    color: #f39c12 ;
    
}
